<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aristotelesjunior.gamelibrary">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="image/jpeg"/>
        </intent>
        <intent>
            <action android:name="android.media.action.STILL_IMAGE_CAPTURE"/>
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="image/jpeg"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="image/jpeg"/>
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameLibrary">
        <activity
            android:name=".ui.add.platform.AddPlatformActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.add.game.AddGameActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:authorities="com.aristotelesjunior.gamelibrary.fileprovider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>